.header {
  &-top {
    padding: 20px 0;
    background-color: $red;
  }
  &-bottom {
    overflow: hidden;
    .wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-bottom: 115px;
      @media screen {
        @media (max-width: 1050px) {
          padding-bottom: 125px;
        }
        @media (max-width: 900px) {
          padding-bottom: 330px;
        }
        @media (max-width: 620px) {
          padding-bottom: 185px;
        }
      }
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        width: 2000px;
        height: 1014px;
        background: url("/images/header-img.jpg") top left no-repeat;
        background-size: contain;
        z-index: -1;
        @media (max-width: 1800px) {
          left: -200px;
        }
        @media (max-width: 1400px) {
          left: -400px;
        }
        @media (max-width: 900px) {
          left: 0;
        }
        @media (max-width: 620px) {
          top: -200px;
        }
      }
    }
  }
  .menu {
    width: 50%;
  }
  .info {
    width: 50%;
    padding-left: 70px;
    @media screen {
      @media (max-width: 900px) {
        width: 100%;
        padding-left: 50px;
      }
      @media (max-width: 620px) {
        padding-left: 0;
      }
    }
    &-top {
      margin-bottom: 250px;
      @media screen {
        @media (max-width: 1400px) {
          margin-bottom: 270px;
        }
        @media (max-width: 1050px) {
          margin-bottom: 280px;
        }
        @media (max-width: 900px) {
          margin-bottom: 50px;
        }
        @media (max-width: 620px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      h2 {
        max-width: 400px;
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 60px;
        font-weight: $font-weight--700;
        text-transform: uppercase;
        @media screen {
          @media (max-width: 1050px) {
            font-size: 55px;
          }
          @media (max-width: 620px) {
            font-size: 45px;
          }
        }
      }
      .btn {
        display: inline-block;
        padding: 8px 75px;
        margin-bottom: 20px;
        font-size: 24px;
        color: #ffffff;
        background-color: $link-color;
        border-radius: 30px;
        @include transition();
        &:hover {
          background-color: darken($link-color, 10%);
          @include transition();
        }
      }
      span {
        display: block;
        max-width: 280px;
        margin-bottom: 10px;
        margin-left: 15px;
        font-size: 22px;
        color: $gray;
        @media screen {
          @media (max-width: 620px) {
            margin-left: 0;
          }
        }
      }
      .phone {
        margin-left: 15px;
        @media screen {
          @media (max-width: 620px) {
            margin-left: 0;
          }
        }
      }
    }
    &-bottom {
      position: relative;
      margin-left: 15px;
      @media screen {
        @media (max-width: 620px) {
          margin-left: 0;
          padding-left: 60px;
        }
      }
      h2 {
        max-width: 230px;
        font-family: $font-family;
        font-size: 30px;
        font-weight: $font-weight--300;
        color: $gray;
        text-transform: uppercase;
        span {
          font-family: $font-family;
          font-size: 25px;
          font-weight: $font-weight--500;
          &:last-child {
            font-weight: $font-weight--400;
            text-transform: none;
          }
          span {
            font-family: $font-family--num;
            font-size: 26px;
            font-weight: $font-weight--700;
            &:last-child {
              font-weight: $font-weight--700;
            }
          }
        }
      }
      &__description {
        display: inline-block;
        margin: 15px 0;
        font-size: 14px;
        color: $link-color;
      }
      &__text {
        max-width: 400px;
        font-size: 14px;
        color: $gray;
      }
      &::before {
        position: absolute;
        content: '';
        top: 32px;
        left: -62px;
        width: 48px;
        height: 48px;
        background-color: $link-color;
        border-radius: 50%;
        @media screen {
          @media (max-width: 620px) {
            left: 0;
          }
        }
      }
    }
  }
}