.menu {
  padding-left: 20px;
  @media screen {
    @media (max-width: 900px) {
      display: none;
    }
  }
  ul {
    display: inline-block;
    margin-top: 45px;
  }
  &-item {
    margin-bottom: 32px;
    @media screen {
      @media (max-width: 1050px) {
        margin-bottom: 25px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: flex;
      flex-direction: column;
      max-width: 120px;
      font-size: 13px;
      font-weight: $font-weight--500;
      color: $link-color;
      text-transform: uppercase;
      outline: 0;
      &:hover {
        .menu-item__header::after {
          height: 6px;
          transform: translateX(50px);
          @include transition();
          @media screen {
            @media (max-width: 768px) {
              transform: unset;
              height: 2px;
            }
          }
        }
      }
    }
    &__header {
      position: relative;
      display: inline-block;
      margin-bottom: 4px;
      font-family: $font-family--num;
      font-size: 20px;
      font-weight: $font-weight--700;
      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -1px;
        width: 60px;
        height: 2px;
        background-color: $link-color;
        @include transition();
      }
    }
  }
}