.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    &.navigation--mobile {
      position: absolute;
      top: 62px;
      right: 0;
      display: none;
      width: 320px;
      background-color: #ffffff;
      padding: 15px 20px;
      z-index: 5;
      @media screen {
        @media (max-width: 380px) {
          right: 0;
          left: 0;
          width: auto;
        }
      }
      li {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        text-align: center;
        a {
          color: $link-color;
        }
        &.menu-item {
          display: none;
          a {
            max-width: none;
            margin-left: auto;
            margin-right: auto;
          }
          @media screen {
            @media (max-width: 900px) {
              display: block;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.active {
        display: block;
      }
    }
    @media screen {
      @media (max-width: 900px) {
        &.navigation--left,
        &.navigation--right {
          display: none;
        }
      }
    }
    li {
      position: relative;
      margin-right: rem(22);
      &:last-child {
        margin-right: 0;
      }
      &::after {
        position: absolute;
        content: '';
        right: 0;
        bottom: -5px;
        left: 0;
        height: 2px;
        background-color: #ffffff;
        opacity: 0;
        @include transition();
      }
      &:hover {
        &::after {
          opacity: 1;
          @media (max-width: 768px) {
            opacity: 0;
          }
        }
      }
      a {
        font-size: rem(14);
        font-weight: $font-weight--500;
        color: #ffffff;
        text-transform: uppercase;
        @include transition();
      }
    }
  }
  .logo {
    position: relative;
    top: -5px;
    font-family: $font-family--logo;
    font-weight: $font-weight--700;
    font-size: 30px;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    &::before {
      position: absolute;
      content: '';
      left: calc(50% - 37px);
      bottom: -5px;
      width: 80px;
      height: 2px;
      background-color: #ffffff;
    }
  }
  &--left {
    margin-right: 102px;
  }
  &--right {
    margin-left: 102px;
  }
  .btn--menu {
    display: none;
    width: 35px;
    height: 35px;
    background: url("/images/menu.svg") center no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  @media screen {
    @media (max-width: 960px) {
      &--left {
        margin-right: 30px;
      }
      &--right {
        margin-left: 30px;
      }
    }
    @media (max-width: 900px) {
      justify-content: space-between;
      &--menu {
        display: block;
      }
      .btn--menu {
        display: block;
      }
    }
  }

}