.phone {
  display: inline-block;
  font-size: 35px;
  font-family: $font-family--num;
  font-weight: $font-weight--700;
  color: $link-color;
  @include transition();
  &:hover {
    color: darken($link-color, 10%);
  }
  @media screen {
    @media (max-width: 620px) {
      font-size: 25px;
    }
  }
}