.main {
  position: relative;
  padding-bottom: 30px;
  &::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 1003px;
    height: 328px;
    background: url("/images/gray-triangle.png") center no-repeat;
    background-size: contain;
    z-index: -1;
    @media screen {
      @media (max-width: 1750px) {
        bottom: -80px;
      }
      @media (max-width: 1250px) {
        bottom: -145px;
      }
      @media (max-width: 960px) {
        display: none;
      }
    }
  }
}